<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <activity
            android:name="com.gurbakir.mobile.localization.AppLocaleProbeActivity"
            android:exported="false" />
        <activity
            android:name="com.gurbakir.mobile.home.OwnedHomeVideoRotationActivity"
            android:exported="false" />
        <!-- OAuth callbacks belong to the app; this standalone harness uses inert content. -->
        <activity
            android:name="net.openid.appauth.RedirectUriReceiverActivity"
            tools:node="remove" />
    </application>
</manifest>
