shopify.storefrontPublicToken=
shopify.customerAccountClientId=
shopify.customerAccountIssuer=
shopify.customerAccountAuthorizationEndpoint=
shopify.customerAccountTokenEndpoint=
shopify.customerAccountLogoutEndpoint=
shopify.customerAccountGraphqlEndpoint=
shopify.customerAccountRedirectUri=
